*{
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}

body{
    background: #000;
}

.banner{
    height: 100vh;
    background-image: url(./images/seawindow.jpg), linear-gradient(to right, rgba(44, 41, 41, 0.7), rgba(8, 7, 7, 0.7));
    background-position: center;
    background-size: cover;
    object-fit: cover;
    background-blend-mode: hard-light;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px;
    text-align: center;
    background: rgb(0, 0, 0,0.2);
   
}
.logo{
    letter-spacing: 1.5px;
}

 h2{
    font-size: 26px;
    font-weight: bolder;
    color: white;
}
.logo-span{
   animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
    0%{
        color:slateblue;
    }
    100%{
        color:lightseagreen;
    }
}


ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlist a,li{
    text-decoration: none;
    list-style: none;
    margin: 0 10px;
    color: white; 
}

.navlist li:hover, a:hover{
  color: white;
  border:0;
  border-bottom: 1px solid lightseagreen;
}

.btn{
    padding: 10px;
    border:0;
    background: slateblue;
    color: white;
    font-weight: bold;
    box-shadow: 16px;
    animation: backgroundChange 3s infinite alternate;
}



@keyframes backgroundChange {
    0%{
        background-color: slateblue;
    }
    100%{
        background-color: lightseagreen;
    }
}

.menu-icon{
  display: none;
  color: white;
  font-size: 20px;
}

/* dropdown menu */
.dropdown-menu{
    display: none;
    position: absolute;
    right: 2rem;
    top:60px;
    width: 400px;
    height: 0;
    animation: backgroundChange 3s infinite alternate;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height .2s cubic-bezier(cubic-bezier(0.175, 0.885, 0.32, 1.275));
}

.dropdown-menu.open{
    height: 300px;
    padding: 20px 0;
    margin-top: 15px;
}

.dropdown-menu li{
    padding: .75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    list-style: none;
    color: white;
}

.dropdown-menu a{
    text-decoration: none;
    color: white;
}

.dropdown-menu a:hover{
    border: 2px solid black;
    padding: 20px;
}

.dropdown-btn{
    padding: 10px;
    border:0;
    background: black;
    color: white;
    font-weight: bold;
    box-shadow: 16px;
}


/* responsive design */

@media (max-width: 992px) {
     nav{
        display: none;
     }
     .menu-icon{
        display: block;
     }
     .dropdown-menu{
        display: block;
     }
}

@media (max-width: 400px) {
    nav{
        display: none;
     }
     .menu-icon{
        display: block;
     }
     .dropdown-menu{
        display: block;
        width:100%;
     }
}


